{% if newEmailsNumber  %}
    <span class="badge badge-important">
         {{ newEmailsNumber }}
        {#<a href="{{ url("fp.be.newsletter.get_edit") ~'#emails'}}">#}
            {#{{ newEmailsNumber }}#}
        {#</a>#}

    </span>
{% endif %}